<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Bienvenidos a PigsTattoo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type='text/css' href="{% static 'core/css/Estilos.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body style="background-color: plum;">
    <!-- barra de menu-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid" >
            <a class="navbar-brand" href="#" style="color:plum; font-family: Impact">PigsTattoo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#equipo">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#trabajos">Trabajos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#quienesSomos">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'formulario' %}" >Cotización</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Login' %}" >LogIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'test' %}" >CRUD Tatuadores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'testt' %}" >CRUD Diseños</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    
        {% block contenido %}

        {% endblock %}
    <div class="container-flex">
        <footer class="footer"> 
            <ul>
                
                <li>
                    <span class="api">¡Mira, el clima </span>
                    <span class="api" id="estadoClima"></span>
                </li>
                <li>
                    <span class="api"> La temperatura actual para tu tatto es:  </span> 
                    <span class="api" id="tempEratura"></span>
                </li>  
                <li>
                    <span class="api"> Que no se te pase tu hora!: </span>
                    <span class="api" id="horaUpdate"></span>
                </li>
                <li class="txtFooter">Términos y Condiciones</li>
                <li class="txtFooter">Contacto</li>
                <li class="txtFooter">Soporte</li>
            </ul>
        </footer>
    </div>
    <!--<script src="code.jquery.com/jquery-3.6.0.slim.min.js " integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin=" anonymous "></script>!-->
    <script src="{% static 'core/js/query-3.6.0.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    

    <!--sript de nuestra API-->
    <script>
        $(document).ready(function(){
            $.get("https://api.gael.cloud/general/public/clima/SCQN",
            function(data){
                console.log(JSON.stringify(data));
                $("#estadoClima").text(data.Estado+" amerita un Tattoo!");
                $("#tempEratura").text(data.Temp+"°C"); 
                $("#horaUpdate").text(data.HoraUpdate);
            })  
           

        });
    </script>

</body>

</html>