body {
    background-color: black;
}

h2 {
    text-align: center;
}

section {
    height: 100%;
}

.contenedorEquipo img {
    width: 300px;
    height: 400px;
}

.contenedorImg1 {
    width: 90%;
    height: 100%;
    align-items: center;
    align-content: center;
}

.contenedorImg1 img {
    width: 250px;
    height: 210px;
    padding: 10px;
}

.contenedorImg1 td {
    text-align: center;
    align-items: center;
    align-content: center;
}

.contenedor p,
iframe {
    padding-top: 30px;
}

.contenedor p {
    font-size: 25px;
}

.separador {
    width: 100%;
    height: 50px;
    background-color: red;
}

.cotizacion {
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

p,
h5,
a,
h3 {
    font-family: 'Grenze Gotisch', cursive;
}

.mapa iframe {
    height: 400px;
    width: 400px;
    padding-left: 20px;
    float: left;
    padding-right: 20px;
}

.textoPresentacion {
    height: 100%;
    width: 60%;
}

.perfil img {
    width: 300px;
    height: 400px;
    float: left;
}

.perfil p {
    padding-top: 10px;
    padding-left: 35%;
    font-size: 25px;
}

.textoPerfil {
    padding-left: 20px;
    width: 60%;
    height: 30%;
}

.butonCotizar {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 6px;
    float: left;
}

.disponibles {
    padding-left: 20%;
    width: 80%;
    height: 50%;
}

.disponibles p {
    text-align: center;
}

.disponibles img {
    height: 300px;
    width: 100%;
}